body {
}
.navbar {
    border-radius: 0;
    background: #008299!important;
}
a {
    color: #0097b3;
}
.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.result {
    margin: 10px;
    color: #0097b3;
}
#about h3 {
    color: #008299;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
